body {
  margin: 0;
  padding: 0;
  position: relative;
  width: 1200px;
}
.list {
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid grey;
}
.list caption {
  height: 30px;
  font: bold 24px Arial, sans-serif;
}
.list .tableHeader {
  width: 1200px;
}
.list .tableHeader tr {
  display: table;
  width: 1200px;
  table-layout: fixed;
}
.list .tableHeader tr th {
  background-color: #444444;
  color: #cccccc;
  font: bold 14px Arial, sans-serif;
  height: 22px;
  cursor: pointer;
}
.list .tableHeader tr th.id {
  padding-right: 10px;
  width: 33px;
}
.list .tableHeader tr th.name {
  width: 120px;
}
.list .tableHeader tr th.email {
  width: 167px;
}
.list .tableHeader tr th.date {
  width: 230px;
}
.list .tableHeader tr th.delete,
.list .tableHeader tr th.edit {
  width: 119px;
}
.list .tableHeader .active {
  background-color: #222222;
}
.list tbody {
  display: block;
  height: 278px;
  width: 1200px;
  overflow: hidden;
  overflow-y: auto;
}
.list tbody .client {
  font: 12px Arial, sans-serif;
  display: table;
  width: 1200px;
  table-layout: fixed;
}
.list tbody .client:nth-child(n+1) {
  border-bottom: 1px solid grey;
}
.list tbody .client:nth-child(even) {
  background-color: #f2f2f2;
}
.list tbody .client td:first-child {
  padding-right: 10px;
  width: 33px;
}
.list tbody .client td:nth-child(2) {
  width: 120px;
}
.list tbody .client td:nth-child(3) {
  width: 167px;
}
.list tbody .client td:nth-child(4) {
  width: 230px;
}
.list tbody .client td:nth-child(5),
.list tbody .client td:last-child {
  width: 119px;
}
.list tbody .client .delClient,
.list tbody .client .editClient {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  background-color: #444444;
  outline: none;
  color: white;
  border: none;
  height: 25px;
}
.list tbody .client .delClient:active,
.list tbody .client .editClient:active {
  background-color: #222222;
}
.list .dummy {
  display: table-row;
  text-align: center;
  font: 20px Arial, sans-serif;
  border: 1px solid grey;
}
.list .dummy td {
  width: 1200px;
  height: 274px;
}
.admins-table {
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid grey;
}
.admins-table caption {
  height: 30px;
  font: bold 24px Arial, sans-serif;
}
.admins-table .tableHeader {
  width: 1200px;
}
.admins-table .tableHeader tr {
  display: table;
  width: 1200px;
  table-layout: fixed;
}
.admins-table .tableHeader tr th {
  background-color: #444444;
  color: #cccccc;
  font: bold 14px Arial, sans-serif;
  height: 22px;
  cursor: pointer;
}
.admins-table .tableHeader tr th.id {
  padding-right: 10px;
  width: 33px;
}
.admins-table .tableHeader tr th.name {
  width: 120px;
}
.admins-table .tableHeader tr th.phone {
  width: 120px;
}
.admins-table .tableHeader tr th.email {
  width: 230px;
}
.admins-table .tableHeader tr th.date {
  width: 230px;
}
.admins-table .tableHeader tr th.delete,
.admins-table .tableHeader tr th.edit {
  width: 119px;
}
.admins-table .tableHeader .active {
  background-color: #222222;
}
.admins-table tbody {
  display: block;
  height: 278px;
  width: 1200px;
  overflow: hidden;
  overflow-y: auto;
}
.admins-table tbody .client {
  font: 12px Arial, sans-serif;
  display: table;
  width: 1200px;
  table-layout: fixed;
}
.admins-table tbody .client:nth-child(n+1) {
  border-bottom: 1px solid grey;
}
.admins-table tbody .client:nth-child(even) {
  background-color: #f2f2f2;
}
.admins-table tbody .client td:first-child {
  padding-right: 10px;
  width: 33px;
}
.admins-table tbody .client td:nth-child(2) {
  width: 120px;
}
.admins-table tbody .client td:nth-child(3) {
  width: 120px;
}
.admins-table tbody .client td:nth-child(4) {
  width: 230px;
}
.admins-table tbody .client td.client-date {
  width: 230px;
}
.admins-table tbody .client td.client-delete,
.admins-table tbody .client td.edit-element {
  width: 119px;
}
.admins-table tbody .client .delClient,
.admins-table tbody .client .editClient {
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  background-color: #444444;
  outline: none;
  color: white;
  border: none;
  height: 25px;
}
.admins-table tbody .client .delClient:active,
.admins-table tbody .client .editClient:active {
  background-color: #222222;
}
.admins-table .dummy {
  display: table-row;
  text-align: center;
  font: 20px Arial, sans-serif;
  border: 1px solid grey;
}
.admins-table .dummy td {
  width: 1200px;
  height: 274px;
}
.addAdmin,
.addUser {
  width: 100px;
  height: 30px;
  background-color: #444444;
  color: white;
  font: bold 14px Arial, sans-serif;
  border: none;
  margin: 20px;
  outline: none;
}
.addAdmin:active,
.addUser:active {
  background-color: #222222;
}
.userPopup,
.adminPopup {
  background-color: #444444;
  color: #d6d6d6;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 490px;
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
  z-index: 99;
  font: 1em Arial, sans-serif;
}
.userPopup .form,
.adminPopup .form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 75%;
  text-align: left;
  margin: 30px auto;
}
.userPopup .form h3,
.adminPopup .form h3 {
  margin-bottom: 30px;
  text-align: center;
}
.userPopup .form label,
.adminPopup .form label {
  margin: 20px 0 0 0;
  width: 130px;
}
.userPopup .form input,
.adminPopup .form input {
  margin: 10px 0 20px 0;
  width: 100%;
  height: 40px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.userPopup .form .button-group,
.adminPopup .form .button-group {
  width: 200px;
  margin: auto;
}
.userPopup .form .button-group button,
.adminPopup .form .button-group button {
  margin: 0 10px;
  height: 30px;
  width: 80px;
  border: none;
  background-color: #797979;
  color: #d6d6d6;
}
